body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin:0px;
}
.divBody
{
    padding:10px;
}
header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#container
{
    border:1px solid #4D4D4D;

    padding:4px;
    background-color:#F8F8F8;
}
#container div
{
    margin-bottom:6px;

}
.divBottom
{
 background-color:#DDF5A8;
 border:1px solid #3CB371;
 padding:10px;
 margin:10px;	
 position:fixed; width:85%;
 bottom:30px; 
}
.divHeader
{
 background-color:#343434;
color:White;
 text-align:right;
 width:100%;
 height:80px; top:0px;	 margin:0px;
 font-size:17px; font-weight:bold; padding-top:16px;
}
.divHeader a
{
  color:White; margin-right:10px; text-decoration:none;
}
.divHeader a:hover
{
  color:Orange;
}
.divHeader h2
{
    margin:4px;
    margin-bottom:7px;  
}