﻿<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ng-todo</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="ngTodo"><!-- app -->
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="#">ng-todo</a>
      <a class="navbar-right navbar-img" href="#"><img src="img/AngularJS.png" alt=""></a>
    </div>
  </div>

  <section ng-controller="NgTodoCtl"><!-- ctrl -->
    <div class="outer-container">

      <div class="add-todo-group input-group input-group-lg">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-list-alt"></i>
        </span>
        <input ng-model="newTask" placeholder="New Todo" class="form-control" type="text"><!-- model  -->
        <span class="input-group-btn">
          <button ng-click="addNewTask()" class="btn btn-success" type="button"><!-- click  -->
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </span>
      </div>

      <div ng-repeat="todo in todos" class="input-group input-group-lg"><!-- repeat  -->
        <span class="input-group-addon">
          <input ng-model="todo.completed" type="checkbox"> <!-- model -->
        </span>
        <input ng-model="todo.val" ng-class="{finished: todo.completed}" class="form-control" type="text"><!-- model / class  -->
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button"><!-- click  -->
            <i ng-click="todos.splice($index,1)" class="glyphicon glyphicon-remove"></i>
          </button>
        </span>
      </div>

      <div class="btn-clear-group">
        <button ng-click="clearCompleted()" class="btn btn-primary btn-clear">Clear Completed</button><!-- click -->
      </div>
    </div>
  </section>
</body>

<!-- JS Assets -->
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="js/ngTodoCtrl.js"></script>
</html>
