﻿@model TreeDemo.Models.Employee
@{
    ViewBag.Title = "MVC3 Tree with jsTree";
}
<script src="@Url.Content("~/Scripts/jquery.jstree.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/themes/default/style.css")" rel="stylesheet" type="text/css" />

<h2>Organization Tree</h2>
<div id="divtree">
<ul id="tree" >
 <li>
   <a href="#" class="usr">@Model.Name</a>
    @Html.Partial("Childrens",Model)
 </li>
</ul>
</div>

<script type="text/javascript">
    $(function () {
        $("#divtree").jstree();
    });
</script>