﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
</head>

<body>
<div class="divHeader">
 @Html.ActionLink("Home","Index")
    <h2>ASP.NET MVC3 -Organization Tree with jsTree</h2>    
</div>
<div class="divBody">
    @RenderBody()
    </div>
<div class="divFooter">
<div class="divBottom">
    <p>
        This is an example code to demonstrate how render a tree structure from a list of objects. Here we are showing an organization tree which lists who works for whom.
    </p>           
    <h3>Shyju </h3>      
        <p><a href="http://www.techiesweb.net">http://www.techiesweb.net</a><br />
        <a href="http://www.twitter.com/kshyju">Follow my tweets @@kshyju</a>
    </p>
    <p>
    Thanks to  <a href="http://www.jstree.com">jsTree</a>, the wonderful jQuery plugin.
    </p>
</div>
</div>
</body>
</html>
