﻿@using System.Web.Mvc.Html
@model IEnumerable<DatabaseFrist.Mvc.Model.Product>

@{
    ViewBag.Title = "Product";
}

<h2>Index</h2> 

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discontinued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastSale)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discontinued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastSale)
        </td>
    </tr>
}

</table>
